nav(class='nav__list')
    li(class='nav__list__elem')
        span Каталог
    li(class='nav__list__elem')
        span Доставка
    li(class='nav__list__elem')
        span Оплата
    li(class='nav__list__elem')
        span Контакты
    li(class='nav__list__elem')
        span О галерее