footer
    .nav
        .nav__list
            img(src = "../assets/img/logo.png" alt = "logo")
            
            include ../blocks/navigation.pug
        
        .nav__contacts
            .nav__contacts__phone
                span(class = 'fa fa-phone')
                ='+7 (495) 555-55-55'
            
            .nav__contacts__address
                span(class = 'fa fa-map-marker')
                ='г. Москва, ул. Расплетина, 24'