doctype html
html
    head
        meta(charset = 'utf-8')
        title Redsoft
    body
        include /components/header.pug
        
        include /components/content.pug
        
        include /components/footer.pug